*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Barlow', sans-serif;
}

header {
  margin: 45px 0px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
}

.header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.wrapper {
  padding: 117px 0;
  background-image: url(../images/Bitmap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  margin-bottom: 166px;
}

.wrapper__box {
  width: 493px;
  padding-left: 84px;

}

.wrapper__heading {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;

}

.wrapper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  padding: 32px 0px;
}

.wrapper__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
}

.collection {
  position: relative;
  margin-bottom: 180px;
}

.collection__img {
  text-shadow: 0 1px 0 rgba(254, 252, 247, 0.0001);
  opacity: 0.5;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  letter-spacing: 10px;
  position: absolute;
  z-index: -1;
  transform: translate(0%,-71%);
  
}

.collection__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection__item {
  width: 255px;
}

.colection__pic {
  margin-bottom: 50px;
}

.collection__heading {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.collection__text-card {
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.cards {}

.cards__inner {
  width: 1280px;
  height: 577px;
  background: #2C343E;
  border-radius: 10px;
  padding: 100px 0px 0px;
  position: relative;
}

.cards__heading {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.cards__text {
  margin-bottom: 86px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 0px 370px;
}

.cards__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: absolute; */

}

.cards__item {
  padding: 72px 48px 48px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  height: 382px;

}

.cards__img {}

.cards__heading-card {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 67px 0px 24px;
  text-align: center;
  color: #FFFFFF;
}

.cards__text-card {
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  width: 255px;
}

.cards__text-work {
  margin-top: 350px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-left: 50px;
  letter-spacing: 2px;
  margin-bottom: 160px;
}

.plan {
position: relative;
}


.plan__inner {}

.plan__list {
position: relative;
display: flex;
align-items: center;
justify-content: space-around;
}
.plan__list::before{
  content: "";
position: absolute;
top: -50px;
left: 90px;
width: 850px;
height: 1px;
background-image: url("../images/chiziq.png");
}

.plan__item {
  position: relative;
}
.plan__item::before{
  content: "";
  position: absolute;
  top: -65px;
  width: 31px;
  height: 31px;
  border-radius:50%;
  background: #FEFCF7;
border: 2px solid #0E8784;
}
.plan__img {
  font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FDD6BA;
}

.plan__heading {
  padding: 40px 0px;
  font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
width: 233px;
}

.plan__text {
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333D4B;
width: 285px;
margin-bottom: 80px;
}

.plan__btn {
  font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
background: #0E8784;
border-radius: 6px;
padding: 15px 31px;
border: none;
margin-left: 70px;
margin-bottom: 200px;
}


.future__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #2C343E;
  padding: 48px 0px;
}
.future__img {
}
.future__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 33px;
}

.future__link {
  font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;
}
.future__list-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}


/* <--About us --> */
.wrap {
  background-image: url("../images/bitmap2.jpg");
border-radius: 10px;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
padding: 137px 0px;
padding-left: 85px;
margin-bottom: 168px;
}

.wrap__box {
  /* display: block; */
  width: 445px;
}
.wrap__heading {
  font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
margin-bottom: 24px;
}
.wrap__text {
  font-weight: 400;
line-height: 26px;
color: #FEFCF7;
}
.commitment{
  margin-bottom: 224px;
}
.commitment__inner {
display: flex;
align-items: center;
justify-content: center;
column-gap: 125px;
}

.commitment__pic {
  height: 520px;
  width: 445px;
  border-radius: 8px;
   
}
.commitment__box {
  width: 540px;
}
.commitment__heading {
  font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #333D4B;
margin-bottom: 32px;
}
.commitment__text {
  font-weight: 400;
line-height: 26px;
color: #333D4B;
opacity: 0.8;
}

.quality {
}

.quality__inner {
  background: #2C343E;
border-radius: 10px;
position: relative;
margin-bottom: 168px;
}
.quality__box{
  padding: 88px 0px 176px 85px;
  width: 540px;
}
.quality__box::after{
  content: "";
  position: absolute;
  top: -76px;
  right: 85px;
  background-image: url("../images/bitmap4.png");
  width: 445px;
height: 474px;
border-radius: 10px;
background-repeat: no-repeat;
background-position: center;
}
.quality__heading {
  font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
margin-bottom: 32px;
}
.quality__text {
  font-weight: 400;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
}
.quality__text--quartes {
  font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
margin-bottom: 72px;
margin-left: 85px;
}
.quality__list {
  display: flex;
  column-gap: 95px;
  margin-left: 85px;
  margin-bottom: 168px;
}
.quality__item {
  width: 285px;
  
}
.quality__heading--tittle {
  font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
padding: 45px 0px 24px;
}
.quality__text--paragraph {
  font-weight: 400;
line-height: 26px;
color: #333D4B;
}



/* <-----create your plan-----> */

.creat{
  background-image: url("../images/create.jpg");
border-radius: 10px;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
padding: 137px 0px;
padding-left: 85px;
margin-bottom: 168px;
}

.creat__box{
  width: 485px;
}

.craeat__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.creat__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}


.creat__card{
  position: relative;
  background: #2C343E;
border-radius: 10px;
  }
  
  
  .creat__inner{}
  
  .creat__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
  .creat__list::before{
    content: "";
  position: absolute;
  top: 105px;
  left: 90px;
  width: 850px;
  height: 1px;
  background-image: url("../images/chiziq.png");
  }
  
  .creat__item {
    position: relative;
    margin-top: 190px;
  }
  .creat__item::before{
    content: "";
    position: absolute;
    top: -100px;
    width: 31px;
    height: 31px;
    border-radius:50%;
    
  border: 2px solid #0E8784;
  }
.creat__heading {
  padding: 40px 0px;
  font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #FEFCF7;
width: 233px;
}
.creat__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  width: 285px;
  margin-bottom: 80px
}

.menu__inner{
  display: flex;
  column-gap: 150px;
  margin-top: 160px;
}
.menu__left {
 margin-left: 70px;
 
}
.menu__list {
}
.menu__list :nth-last-child(5){
  color: #2C343E;
}
.menu__item{

}
.menu__span {
  font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
margin-right: 30px;
display: inline-block;
}
.menu__text {
  font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
display: inline-block;
}
.hr {
  width: 255px;
height: 1px;
margin: 28px 0px;

}
.menu__right {
 
}
.menu__heading {
  font-weight: 900;
font-size: 40px;
line-height: 52px;
color: #83888F;
margin-bottom: 56px;
}
.menu__list--card {
  display: flex;
  column-gap: 23px;
}
.menu__item--card {
  width: 228px;
  background: #F4F1EB;
border-radius: 8px;
padding: 32px 28px 84px;
}

.menu__item--card:hover{
  background: #0E8784;
  /* color: #FFFFFF; */
border-radius: 8px;
}

.menu__item--card:hover>.menu__heading--card{
  color:#FFFFFF;
}

.menu__item--card:hover>.menu__text--card{
  color:#FFFFFF;
}


.menu__heading--card {
  font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #333D4B;
margin-bottom: 24px;
}

.menu__text--card {
  font-weight: 400;
line-height: 26px;
color: #333D4B;
}
.right__box{
margin-bottom: 88px;
}

.right__box1 {
background: #2C343E;
padding: 27px 64px ;
width: 730px;
}
.menu__heading--order {
  font-weight: 400;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
margin-bottom: 8px;
}
.menu__text--order {
  font-weight: 900;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;

}
.menu__link{
  padding: 16px 36px;
  font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
background: #0E8784;
border-radius: 6px;
display: inline-block;
margin: 40px 0px 168px;
}